<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
    <title>Error Page</title>
</head>
<style>
    body {
        position: relative;
        min-height: 100%;
        min-height: 100vh;
    }

    footer {
        background-color: lightgrey;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SR03 ChatApp Backend</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" th:if="${currentUser!=null}">
                        <a class="nav-link" aria-current="page" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser!=null && currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/admin/users/add}">Add</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser!=null && currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/admin/users}">Users</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser!=null && currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/admin/conversations}">Conversations</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser!=null && !currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/conversations}">Conversations</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser!=null && currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/admin/messages}">Messages</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser!=null && !currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/messages}">Messages</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser!=null && currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/admin/status}">Status</a>
                    </li>
                </ul>
                <span class="navbar-text" th:text="${currentUser.getUsernameLine()}"
                      th:if="${currentUser!=null}"></span>
                <a th:href="@{/logout}" th:if="${currentUser!=null}">Logout</a>
                <a th:href="@{/login}" th:if="${currentUser==null}">Login</a>
            </div>
        </div>
    </nav>
</header>
<div style="margin-left: 10%;margin-top: 10%">
    <h1>Oh là !</h1>
    <h3>une erreur s'est produite</h3>
    <h4>Status code: <span th:text="${status}"></span></h4>
    <h4>Error message: <span th:text="${message}"></span></h4>
</div>
<footer>
    <div>
        <span class="text-muted">UTC SR03 Application de Chat 2023 - Bingqian SHU</span>
    </div>
</footer>
</body>
</html>