<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
          crossorigin="anonymous"></script>
  <title>Registration</title>
</head>
<style>
  body {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
  }

  footer {
    background-color: lightgrey;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

  aside {
    width: 20%;
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    font-style: italic;
    background-color: lightgray;
  }
</style>
<body>
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SR03 ChatApp Backend</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
              aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
          </li>
          <li class="nav-item" th:if="${currentUser.isAdmin()}">
            <a class="nav-link" th:href="@{/admin/users/add}">Add</a>
          </li>
          <li class="nav-item" th:if="${currentUser.isAdmin()}">
            <a class="nav-link" th:href="@{/admin/users}">Users</a>
          </li>
          <li class="nav-item" th:if="${currentUser.isAdmin()}">
            <a class="nav-link" th:href="@{/admin/conversations}">Conversations</a>
          </li>
          <li class="nav-item" th:if="${!currentUser.isAdmin()}">
            <a class="nav-link" th:href="@{/conversations}">Conversations</a>
          </li>
          <li class="nav-item" th:if="${currentUser.isAdmin()}">
            <a class="nav-link" th:href="@{/admin/messages}">Messages</a>
          </li>
          <li class="nav-item" th:if="${!currentUser.isAdmin()}">
            <a class="nav-link" th:href="@{/messages}">Messages</a>
          </li>
          <li class="nav-item" th:if="${currentUser.isAdmin()}">
            <a class="nav-link" th:href="@{/admin/status}">Status</a>
          </li>
        </ul>
        <span class="navbar-text" th:text="${currentUser.getUsernameLine()}" th:if="${currentUser!=null}"></span>
        <a th:href="@{/logout}" th:if="${currentUser!=null}">Logout</a>
        <a th:href="@{/login}" th:if="${currentUser==null}">Login</a>
      </div>
    </div>
  </nav>
</header>
<main>
  <aside>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra pharetra neque et congue.
      Curabitur
      rutrum dui libero, et luctus mi gravida at. Aliquam convallis mollis tellus at vestibulum. Curabitur nec
      velit
      auctor, iaculis quam sed, laoreet nibh. Donec et feugiat erat. Sed sed urna sed leo tristique posuere.
      Vestibulum consectetur augue turpis, eu semper magna vulputate non. Aliquam maximus vehicula laoreet. Cras
      magna
      elit, mollis eu velit ut, semper porta ipsum. Integer imperdiet laoreet nisl vitae lobortis. Donec sed nisi
      id
      diam egestas sagittis. Sed lacinia, risus non ultrices ullamcorper, ligula metus vestibulum justo, quis
      ullamcorper risus nisl et est. Etiam et dolor convallis purus viverra semper consequat id erat. Aenean
      dictum
      lectus a ligula aliquam, vel congue turpis maximus.</p>
  </aside>
  <h1>Home</h1>
  <h2>Check new utc video !</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/4RCfP2V5jlI" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
  <br/>
  <h2>Check my 航拍 video and 三连 !</h2>
  <iframe width="560" height="315"
          src="//player.bilibili.com/player.html?aid=482149089&bvid=BV1hT411U7uS&cid=1015854284&page=1" scrolling="no"
          border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
  <br/>
</main>
<footer>
  <div>
    <span class="text-muted">UTC SR03 Application de Chat 2023 - Bingqian SHU</span>
  </div>
</footer>
</body>
</html>
