<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
<div class="login-container">
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <p>mail <input type="text" th:field="*{mail}"/></p>
        <p>mdp <input type="text" th:field="*{password}"/></p>
        <p><input type="submit" value="Connexion"/></p>
        <span th:text="${error}"></span>
    </form>
</div>
</body>
</html>
