<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
    <title>Login</title>
    <style>.error {
        color: red;
    }

    .success {
        color: green;
    }</style>
</head>
<style>
    body {
        position: relative;
        min-height: 100%;
        min-height: 100vh;
    }

    footer {
        background-color: lightgrey;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SR03 ChatApp Backend</a>
        </div>
    </nav>
</header>
<main>
    <div style="height: 50%; margin-left: 25%; margin-right: 25%; margin-top: 10%">
        <div style="align-items: center">
            <h1>Connexion</h1>
            <br/>
            <div>
                <form action="#" th:action="@{/login}" th:object="${user}" method="post" id="loginForm">
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" th:field="*{mail}" class="form-control" id="email" name="email"
                               max="50" min="1"
                               placeholder="Entrez votre email"
                               required/>
                        <span class="error" id="emailError" aria-live="polite"></span>
                    </div>
                    <div class="form-group">
                        <label> Password </label>
                        <input type="password" th:field="*{password}" class="form-control" id="psw" name="psw"
                               max="50" min="1"
                               placeholder="Entrez votre mot de pasee" required/>
                    </div>
                    <br/>
                    <input type="submit" id="submit-button" value="Submit" class="btn btn-primary" disabled>
                </form>
                <script type="text/javascript" src="/js/loginFormValidation.js"></script>
                <span class="error" th:text="${error}"></span>
                <br/>
                <text>No account yet ?</text>
                <a th:href="@{/register}">Register</a>
            </div>
        </div>
    </div>
</main>
<footer>
    <div>
        <span class="text-muted">UTC SR03 Application de Chat 2023 - Bingqian SHU</span>
    </div>
</footer>
</body>
</html>