<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script defer src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
</head>
<style>
    body {
        position: relative;
        min-height: 100%;
        min-height: 100vh;
    }

    footer {
        background-color: lightgrey;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }

    div.half-table-container {
        height: 60vh;
        width: 100%;
        overflow: auto;
    }

    div.tiers-table-container {
        height: 50vh;
        width: 100%;
        overflow: auto;
    }
</style>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SR03 ChatApp Backend</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/admin/users/add}">Add</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/admin/users}">Users</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/admin/conversations}">Conversations</a>
                    </li>
                    <li class="nav-item" th:if="${!currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/conversations}">Conversations</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser.isAdmin()}">
                        <a class="nav-link active" th:href="@{/admin/messages}">Messages</a>
                    </li>
                    <li class="nav-item" th:if="${!currentUser.isAdmin()}">
                        <a class="nav-link active" th:href="@{/messages}">Messages</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/admin/status}">Status</a>
                    </li>
                </ul>
                <span class="navbar-text" th:text="${currentUser.getUsernameLine()}"
                      th:if="${currentUser!=null}"></span>
                <a th:href="@{/logout}" th:if="${currentUser!=null}">Logout</a>
                <a th:href="@{/login}" th:if="${currentUser==null}">Login</a>
            </div>
        </div>
    </nav>
</header>
<div class="content">
    <main>
        <div th:if="${currentUser.isAdmin()}" class="alert alert-secondary" role="alert"
             style="display: flex; justify-content: space-between">
            <div>
                Vous êtes administrateur, vous avez accès à tous les messages stocké dans le serveur
            </div>
            <div>
                <a th:href="@{/admin/messages/new}">
                    <button type="button" class="btn btn-secondary">Nouveau msg</button>
                </a>
            </div>
        </div>
        <div th:if="${!currentUser.isAdmin()}" class="alert alert-secondary" role="alert"
             style="display: flex; justify-content: space-between">
            <div>
                Les tableaux ci-dessous contient tous les messages que vous avez envoyé et reçu
            </div>
            <div>
                <a th:href="@{/messages/new}">
                    <button type="button" class="btn btn-secondary">Nouveau msg</button>
                </a>
            </div>
        </div>
        <div id="accordion">
            <div class="accordion-item" th:if="${currentUser.isAdmin()}">
                <div class="accordion-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                            Message envoyé par moi
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                     data-bs-parent="#accordion">
                    <div class="accordion-body">
                        <div class="tiers-table-container">
                            <table class="table table-striped table-bordered table-sm"
                                   style="overflow: auto"
                                   data-toggle="table"
                                   data-toolbar="#toolbar"
                                   data-search="true"
                                   data-show-toggle="true"
                                   data-show-fullscreen="true"
                                   data-id-field="id">
                                <thead>
                                <tr>
                                    <th data-sortable="true">Message ID</th>
                                    <th data-sortable="true">Sender ID</th>
                                    <th data-sortable="true">Sender Name</th>
                                    <th data-sortable="true">Conversation ID</th>
                                    <th data-sortable="true">Conversation Name</th>
                                    <th data-sortable="true">Content</th>
                                    <th data-sortable="true">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="message : ${messagesSent}">
                                    <td><span th:text="${message.getId()}"></span></td>
                                    <td><span th:text="${message.getUser().getId()}"></span></td>
                                    <td><span th:text="${message.getUser().getUsernameLine()}"></span></td>
                                    <td><span th:text="${message.getConversation().getId()}"></span></td>
                                    <td><span th:text="${message.getConversation().getName()}"></span></td>
                                    <td><span th:text="${message.getContent()}"></span></td>
                                    <td><span
                                            th:text="${#temporals.format(message.getDate(), 'dd MMMM yyyy HH:mm:ss')}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item" th:if="${currentUser.isAdmin()}">
                <div class="accordion-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            Message reçu par moi
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordion">
                    <div class="accordion-body">
                        <div class="tiers-table-container">
                            <table class="table table-striped table-bordered table-sm"
                                   style="overflow: auto"
                                   data-toggle="table"
                                   data-toolbar="#toolbar"
                                   data-search="true"
                                   data-show-toggle="true"
                                   data-show-fullscreen="true"
                                   data-id-field="id">
                                <thead>
                                <tr>
                                    <th data-sortable="true">Message ID</th>
                                    <th data-sortable="true">Sender ID</th>
                                    <th data-sortable="true">Sender Name</th>
                                    <th data-sortable="true">Conversation ID</th>
                                    <th data-sortable="true">Conversation Name</th>
                                    <th data-sortable="true">Content</th>
                                    <th data-sortable="true">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="message : ${messagesReceived}">
                                    <td><span th:text="${message.getId()}"></span></td>
                                    <td><span th:text="${message.getUser().getId()}"></span></td>
                                    <td><span th:text="${message.getUser().getUsernameLine()}"></span></td>
                                    <td><span th:text="${message.getConversation().getId()}"></span></td>
                                    <td><span th:text="${message.getConversation().getName()}"></span></td>
                                    <td><span th:text="${message.getContent()}"></span></td>
                                    <td><span
                                            th:text="${#temporals.format(message.getDate(), 'dd MMMM yyyy HH:mm:ss')}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item" th:if="${currentUser.isAdmin()}">
                <div class="accordion-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            Tous les messages du serveur
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                     data-bs-parent="#accordion">
                    <div class="accordion-body">
                        <div class="tiers-table-container">
                            <table class="table table-striped table-bordered table-sm"
                                   style="overflow: auto"
                                   data-toggle="table"
                                   data-toolbar="#toolbar"
                                   data-search="true"
                                   data-show-toggle="true"
                                   data-show-fullscreen="true"
                                   data-id-field="id">
                                <thead>
                                <tr>
                                    <th data-sortable="true">Message ID</th>
                                    <th data-sortable="true">Sender ID</th>
                                    <th data-sortable="true">Sender Name</th>
                                    <th data-sortable="true">Conversation ID</th>
                                    <th data-sortable="true">Conversation Name</th>
                                    <th data-sortable="true">Content</th>
                                    <th data-sortable="true">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="message : ${adminAllMessages}">
                                    <td><span th:text="${message.getId()}"></span></td>
                                    <td><span th:text="${message.getUser().getId()}"></span></td>
                                    <td><span th:text="${message.getUser().getUsernameLine()}"></span></td>
                                    <td><span th:text="${message.getConversation().getId()}"></span></td>
                                    <td><span th:text="${message.getConversation().getName()}"></span></td>
                                    <td><span th:text="${message.getContent()}"></span></td>
                                    <td><span
                                            th:text="${#temporals.format(message.getDate(), 'dd MMMM yyyy HH:mm:ss')}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item" th:if="${!currentUser.isAdmin()}">
                <div class="accordion-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                            Message envoyé par moi
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                     data-bs-parent="#accordion">
                    <div class="accordion-body">
                        <div class="half-table-container">
                            <table class="table table-striped table-bordered table-sm"
                                   style="overflow: auto"
                                   data-toggle="table"
                                   data-toolbar="#toolbar"
                                   data-search="true"
                                   data-show-toggle="true"
                                   data-show-fullscreen="true"
                                   data-id-field="id">
                                <thead>
                                <tr>
                                    <th data-sortable="true">Message ID</th>
                                    <th data-sortable="true">Sender ID</th>
                                    <th data-sortable="true">Sender Name</th>
                                    <th data-sortable="true">Conversation ID</th>
                                    <th data-sortable="true">Conversation Name</th>
                                    <th data-sortable="true">Content</th>
                                    <th data-sortable="true">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="message : ${messagesSent}">
                                    <td><span th:text="${message.getId()}"></span></td>
                                    <td><span th:text="${message.getUser().getId()}"></span></td>
                                    <td><span th:text="${message.getUser().getUsernameLine()}"></span></td>
                                    <td><span th:text="${message.getConversation().getId()}"></span></td>
                                    <td><span th:text="${message.getConversation().getName()}"></span></td>
                                    <td><span th:text="${message.getContent()}"></span></td>
                                    <td><span
                                            th:text="${#temporals.format(message.getDate(), 'dd MMMM yyyy HH:mm:ss')}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item" th:if="${!currentUser.isAdmin()}">
                <div class="accordion-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                            Message reçu par moi
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                     data-bs-parent="#accordion">
                    <div class="accordion-body">
                        <div class="half-table-container">
                            <table class="table table-striped table-bordered table-sm"
                                   style="overflow: auto"
                                   data-toggle="table"
                                   data-toolbar="#toolbar"
                                   data-search="true"
                                   data-show-toggle="true"
                                   data-show-fullscreen="true"
                                   data-id-field="id">
                                <thead>
                                <tr>
                                    <th data-sortable="true">Message ID</th>
                                    <th data-sortable="true">Sender ID</th>
                                    <th data-sortable="true">Sender Name</th>
                                    <th data-sortable="true">Conversation ID</th>
                                    <th data-sortable="true">Conversation Name</th>
                                    <th data-sortable="true">Content</th>
                                    <th data-sortable="true">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="message : ${messagesReceived}">
                                    <td><span th:text="${message.getId()}"></span></td>
                                    <td><span th:text="${message.getUser().getId()}"></span></td>
                                    <td><span th:text="${message.getUser().getUsernameLine()}"></span></td>
                                    <td><span th:text="${message.getConversation().getId()}"></span></td>
                                    <td><span th:text="${message.getConversation().getName()}"></span></td>
                                    <td><span th:text="${message.getContent()}"></span></td>
                                    <td><span
                                            th:text="${#temporals.format(message.getDate(), 'dd MMMM yyyy HH:mm:ss')}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div>
            <span class="text-muted">UTC SR03 Application de Chat 2023 - Bingqian SHU</span>
        </div>
    </footer>
</div>
</body>
</html>