<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
</head>
<style>
    body {
        position: relative;
        min-height: 100vh;
    }

    footer {
        background-color: lightgrey;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }

    div.full-table-container {
        height: 90vh;
        width: 100%;
        overflow: auto;
    }

</style>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SR03 ChatApp Backend</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/admin/users/add}">Add</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser.isAdmin()}">
                        <a class="nav-link active" th:href="@{/admin/users}">Users</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/admin/conversations}">Conversations</a>
                    </li>
                    <li class="nav-item" th:if="${!currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/conversations}">Conversations</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/admin/messages}">Messages</a>
                    </li>
                    <li class="nav-item" th:if="${!currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/messages}">Messages</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser.isAdmin()}">
                        <a class="nav-link" th:href="@{/admin/status}">Status</a>
                    </li>
                </ul>
                <span class="navbar-text" th:text="${currentUser.getUsernameLine()}"
                      th:if="${currentUser!=null}"></span>
                <a th:href="@{/logout}" th:if="${currentUser!=null}">Logout</a>
                <a th:href="@{/login}" th:if="${currentUser==null}">Login</a>
            </div>
        </div>
    </nav>
</header>
<div class="content">
    <main>
        <div th:class="${alertClassName}" role="alert" th:if="${alertText} != null">
            <span th:text="${alertText}"></span>
        </div>
        <div class="full-table-container">
            <table class="table table-striped table-bordered table-sm"
                   style="overflow: auto"
                   data-toggle="table"
                   data-toolbar="#toolbar"
                   data-search="true"
                   data-show-toggle="true"
                   data-show-fullscreen="true"
                   data-id-field="id">
                <thead>
                <tr>
                    <th data-sortable="true" data-field="id">ID</th>
                    <th data-sortable="true" data-field="nom">Nom</th>
                    <th data-sortable="true" data-field="prenom">Prenom</th>
                    <th data-sortable="true" data-field="email">Email</th>
                    <th>MDP</th>
                    <th>Admin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><span th:text="${user.id}"></span></td>
                <td><span th:text="${user.lastName}"></span></td>
                <td><span th:text="${user.firstName}"></span></td>
                <td><span th:text="${user.mail}"></span></td>
                <td><span th:text="${user.password}"></span></td>
                <td><span th:text="${user.admin == true}"></span></td>
                <td>
                    <a th:href="@{/admin/users/modify(userid=${user.getId()})}"
                       th:if="${currentUser.getId()!=user.getId()}">Modifier</a>
                    <a th:href="@{/admin/users/delete(userid=${user.getId()})}"
                       th:if="${currentUser.getId()!=user.getId()}">Supprimer</a>
                </td>
            </tr>
            </tbody>
            </table>
        </div>
    </main>
    <footer>
        <div>
            <span class="text-muted">UTC SR03 Application de Chat 2023 - Bingqian SHU</span>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
</body>
</html>